.nav {
    padding: 20px 0px 5px;
    margin-bottom: 50px;
    background-color: #343a40;

    .navItems {
        display: flex;
        justify-content: space-between;

        .navLink { color: white; }
    }

}